.tour {
    .tour-header {
        padding-top: 100px;
        .heading-sub {
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #000000;
            color: rgb(223, 136, 56);
        }

        .heading {
            padding-top: 15px;
            text-align: center;
            font-size: 48px;
            text-transform: capitalize;
            font-weight: 600;
        }

        .heading-text {
            padding-top: 20px;
            text-align: center;
            font-size: 18px;
            text-transform: capitalize;
            color: #afaeae;
            padding-bottom: 50px;
        }
    }
        .tour-search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 700px;
            margin: 0 auto;
            border-radius: 100rem;
            cursor: pointer;
            text-align: center;
            white-space: nowrap;
            background-color: #f3f3f3;
            .search-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 0 50px;
                    .search-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0 13px;
                        .search-icon {
                            font-size: 20px;
                            line-height: 1;
                            color: rgba(0, 0, 0, 0.6);
                        }
                        .search-text {
                            font-size: 18px;
                            line-height: 1;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                    .search-item:nth-child(1) {
                        padding-left: 15px;
                    }
                }
        }
       
        .tour-more {
            display: flex;
            justify-content: center;
            padding-bottom: 150px;
        }
}

