/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-content {
        background-color: white;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        max-width: 400px;
        width: 100%;
        max-height: 80vh;
        overflow-y: auto;
        position: relative;
        
        .form-header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            color: #000;
        }
        .form {

            .form-group {
                margin: 20px 0;
                display: flex;
                align-items: center;
                position: relative;
                .show-pass{
                    position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        font-size: 24px;
                        cursor: pointer;
                        color: rgb(223, 136, 56);
                }
                .input-content {
                    outline: none;
                    width: 100%;
                    padding: 10px;
                    border-radius: 3px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #ccc;
                }
            }
             .btn-auth {
                    background-color: rgb(223, 136, 56);
                    color: #fff;
                    padding: 12px 22px;
                   
            }
        }
        .close {
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 25px;
                color: #aaa;
                cursor: pointer;
        
                &:hover,
                &:focus {
                    color: rgb(223, 136, 56);
                    cursor: pointer;
                }
            }
       
    }
       
    
        
}




